{{~setVar "D" "$"~}}
{{~setVar "Q" "\""~}}
{{~setVar "listPath" (concat "/" classNameFirstCharLower "/" className "List.do")~}}
{{~setVar "addViewPath" (concat "/" classNameFirstCharLower "/add" className "View.do")~}}
{{~setVar "addPath" (concat "/" classNameFirstCharLower "/add" className ".do")~}}
{{~setVar "selectPath" (concat "/" classNameFirstCharLower "/select" className ".do")~}}
{{~setVar "updatePath" (concat "/" classNameFirstCharLower "/update" className ".do")~}}
{{~setVar "updateViewPath" (concat "/" classNameFirstCharLower "/update" className "View.do")~}}
{{~setVar "deletePath" (concat "/" classNameFirstCharLower "/delete" className ".do")~}}
{{~setVar "listPageName" (concat className "List.jsp")~}}
{{~setVar "selectFunctionName" (concat "fncSelect" className)~}}
{{~setVar "addViewFunctionName" (concat "fncAdd" className "View")~}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>목록</title>
  <link rel="stylesheet" href="/css/egovframework/sample.css"/>
  <script type="text/javascript">
    /* 글 수정 화면 function */
    function fn_egov_select({{#each pkAttributes}}{{@key}}{{/each}}) {
      {{#each pkAttributes}}
      document.getElementById("listForm").{{ccName}}.value = {{ccName}};
      {{/each}}
      document.getElementById("listForm").action = '{{updateViewPath}}';
      document.getElementById("listForm").submit();
    }

    /* 글 등록 화면 function */
    function fn_egov_addView() {
      document.getElementById("listForm").action = '{{addViewPath}}';
      document.getElementById("listForm").submit();
    }

    /* pagination 페이지 링크 function */
    function fn_egov_link_page(pageNo) {
      document.getElementById("listForm").pageIndex.value = pageNo;
      document.getElementById("listForm").action = '{{listPath}}';
      document.getElementById("listForm").submit();
    }
  </script>
</head>
<body>
  <form id="listForm" method="post">
    {{#if (eq pkAttributes.length 0)}}
      <input type="hidden" name="{{attributes.[0].ccName}}" />
    {{else}}
      {{#each pkAttributes}}
        <input type="hidden" name="{{ccName}}" />
      {{/each}}
    {{/if}}

    <div id="content_pop">
      <!-- 타이틀 -->
      <div id="title">
        <ul>
          <li><img src="/images/egovframework/example/title_dot.gif" alt="title" /> List </li>
        </ul>
      </div>
      <!-- // 타이틀 -->
      <!-- List -->
      <div id="table">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <colgroup>
            {{#each attributes}}
            <col/>
            {{/each}}
          </colgroup>
          <tr>
            {{#each attributes}}
            <th align="center">{{pcName}}</th>
            {{/each}}
          </tr>
          {{#each resultList}}
          <tr>
            {{#if (eq pkAttributes.length 0)}}
              {{#each attributes}}
                {{#if (eq @index 0)}}
                <td align="center" class="listtd">
                  <a href="javascript:fn_egov_select('{{this.ccName}}')">{{this.ccName}}</a>&nbsp;
                </td>
                {{else}}
                <td align="center" class="listtd">{{this.ccName}}&nbsp;</td>
                {{/if}}
              {{/each}}
            {{else}}
              {{#each pkAttributes}}
              <td align="center" class="listtd">
                <a href="javascript:fn_egov_select('{{this.ccName}}')">{{this.ccName}}</a>&nbsp;
              </td>
              {{/each}}
              {{#each attributes}}
                {{#unless this.primaryKey}}
                <td align="center" class="listtd">{{this.ccName}}&nbsp;</td>
                {{/unless}}
              {{/each}}
            {{/if}}
          </tr>
          {{/each}}
        </table>
      </div>
      <!-- /List -->
      <div id="paging">
        <ul>
          {{#each paginationInfo}}
          <li>
            <a href="javascript:fn_egov_link_page({{this.pageNo}});">{{this.pageNo}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div id="sysbtn1">
        <ul>
          <li>
            <div id="sysbtn">
              <span class="btn_blue_l">
                <a href="javascript:fn_egov_addView();">등록</a>
                <img src="/images/egovframework/example/btn_bg_r.gif" alt=""/>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </form>
</body>
</html>
